extends layout


block content

        .tweet_form
                form(method="POST" action="/tweet")
                    label(for='tweet' class='tweetwidth')
                        
                            textarea(name="tweet" type="text" class='tweet_box' placeholder='Share your thoughts')
                            br
                            button(type='submit' class='tweet_button'  value="Tweet Tweet") Tweet Tweet
                            


