extends layout
include mixins/tweetForm
block content
        .single_wrap
                h4 This is where all the users tweets will go
                //- if user
                //-         //- Show form for user to input text
                //- 
                //-       //-  Show all tweets