extends layout
include mixins/tweetForm
block content
        .single_wrap
                //- if user
                //-         //- Show form for user to input text
                //- 
                //-       //-  Show all tweets