extends layout
include mixins/tweetForm
block content
        h1 Anime Index
                ul
                        each cat in jryulqlv
                                li
                                        - var catUrl =  cat.id
                                        h4= cat.posting